{% extends "factures/base.html" %}
{% block title %}Formulaire Facture{% endblock %}

{% block content %}
<h2 class="mb-4">{{ form.instance.pk|yesno:"Modifier une facture,Nouvelle facture" }}</h2>

<form method="post" class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="row mb-3">
        {% for field in form %}
        <div class="mb-3 col-md-6">
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
            <div class="text-danger small">{{ field.errors|striptags }}</div>
            {% endif %}
        </div>
        {% endfor %}
    </div>

    <button type="submit" class="btn btn-success">Enregistrer</button>
    <a href="{% url 'liste_factures' %}" class="btn btn-secondary">Annuler</a>
</form>
{% endblock %}